{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Bienvenue sur la
			{{ page_name }}
			!
		</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'C:/Users/Justine 0642671261/Documents/TP_symfo/TP_projet/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/Users/Justine 0642671261/Documents/TP_symfo/TP_projet/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quae esse, aspernatur suscipit quo nam corporis aperiam quibusdam minima dignissimos itaque alias, consequatur dolorum iste perspiciatis expedita illo ipsam repellendus laborum? Dolores nostrum, maxime libero facilis, quam corporis incidunt ipsa quisquam dolor totam officia iste numquam nemo delectus. Nemo, ipsum ipsam. Ut nulla soluta tempora eaque placeat, ducimus, reprehenderit perspiciatis esse modi inventore deserunt aperiam ullam, id sit debitis nobis. Rem hic repellendus nobis unde corrupti porro in illo, nihil nemo saepe itaque ullam, molestias aperiam, deserunt ea. Veniam provident, facilis aperiam pariatur perspiciatis nesciunt iure deleniti dolorum rerum sit?</p>
	<p>Maiores pariatur ipsum asperiores repudiandae repellat voluptatem iste voluptatibus, non nisi rerum quibusdam laboriosam ad. Sunt dicta facere numquam voluptas reprehenderit consequatur quam, asperiores nostrum! Dolore in, inventore illum unde reiciendis repudiandae rem? Aliquid voluptatibus mollitia cupiditate officia, aspernatur aperiam dolor dicta, nihil ad ex facilis enim voluptatum amet ipsam. Suscipit dolore iure, fuga eos voluptatum sequi? Tempore ullam voluptate laborum, dolorum porro iusto, obcaecati perspiciatis eos architecto modi consequatur laboriosam sint distinctio minima praesentium dignissimos ipsam perferendis eaque officiis, reprehenderit suscipit debitis enim. Adipisci dolore harum tempora culpa. Libero cum possimus repudiandae dignissimos numquam velit asperiores provident dolores explicabo?</p>
	<p>Ab porro iure commodi omnis quibusdam ullam, accusamus sit cum cupiditate excepturi aperiam fugiat adipisci, maxime mollitia? Reprehenderit facilis iure eius quam magni. Magnam consequuntur non, quidem maiores rerum consectetur quibusdam ipsam ab recusandae ducimus corrupti? Porro nesciunt nobis magni, dicta dolores facilis quod qui cumque architecto unde iure quis? Dolores, et fugit accusantium maxime numquam nulla reiciendis dignissimos aut eaque quam? Provident nesciunt hic rerum iusto. Quia amet neque fugiat doloribus eaque, blanditiis laudantium quibusdam fuga natus, explicabo voluptatibus rerum. Earum voluptatibus sequi natus modi aut minima eum, expedita, ipsum tempora fuga debitis enim provident. Exercitationem eligendi ad nemo?</p>
	<p>Similique quae beatae sint temporibus labore nesciunt saepe, iure ad assumenda ullam delectus totam perspiciatis velit sed? Aut maiores, officiis et soluta, in ut mollitia officia doloribus sed adipisci nam impedit! Nulla magnam, ullam quo iusto molestiae, omnis ut veritatis eveniet dolores quaerat ratione! Similique autem pariatur quo sunt doloribus amet eum eligendi. Praesentium obcaecati voluptatibus ullam, molestiae animi provident placeat magnam sequi nobis et consequatur nam qui, sint, ea amet dolores ut quae exercitationem recusandae ab ducimus repellendus nihil. Provident quisquam amet exercitationem tempora nam ad a ratione doloribus architecto quis, autem necessitatibus quae maxime ullam, ipsam vel? Quae.</p>

{% endblock %}
